/* Those come from http://css-tricks.com/snippets/css/useful-css3-less-mixins/ */
.message {
  color: white;
  background-color: #27ae60;
  padding: 20px 30px;
}
.help {
  vertical-align: super;
  font-size: 70%;
  position: relative;
  display: inline-block;
  /* CSS triangle for the border of the tail */
  /* CSS triangle for the white inside of the tail */
}
.help .help-contents {
  display: none;
}
.help:hover .help-contents {
  display: block;
  position: absolute;
  top: 31px;
  left: -75px;
  width: 150px;
  padding: 20px;
  border: 1px solid #446644;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eeffee;
  /* fancyness */
  -webkit-box-shadow: 2px 2px 6px #446644;
  -moz-box-shadow: 2px 2px 6px #446644;
  box-shadow: 2px 2px 6px #446644;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ccddcc));
  background: -webkit-linear-gradient(top, #ffffff, #ccddcc);
  background: -moz-linear-gradient(top, #ffffff, #ccddcc);
  background: -ms-linear-gradient(top, #ffffff, #ccddcc);
  background: -o-linear-gradient(top, #ffffff, #ccddcc);
  font-size: 10px;
  color: black;
}
.help .tailBorder {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #446644 transparent;
  position: absolute;
  left: 60px;
  top: -20px;
}
.help .tail {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 14px 19px 14px;
  border-color: transparent transparent #eeffee transparent;
  position: absolute;
  left: 61px;
  top: -19px;
}
