.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.message {
  color : white;
  background-color: #27ae60;
  padding: 20px 30px;
}

.help {
    @tailWidth: 30px;
    @helpBoxWidth: 150px;
    @helpBoxBorderColor: #464;
    @helpBoxColor: #EFE;


    vertical-align: super;
    font-size: 70%;
    position: relative;
    display: inline-block;
    
    .help-contents {
        display: none;
    }

    &:hover .help-contents {
        display: block;
        position: absolute;
        top: 31px;
        left: -@helpBoxWidth/2;
        
        width: @helpBoxWidth;
        padding: 20px;
        border: 1px solid @helpBoxBorderColor;
		.box-sizing();
		.box-shadow(2px 2px 6px @helpBoxBorderColor);

        background-color: @helpBoxColor;
        
        font-size: 10px;
        color: black;
    }
}


